html, body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

.container3 {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container3 {
    padding: 0 10px;
  }
}

.footer {
  background-color: #81c99b;
}

.container4 {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container4 {
    padding: 0 10px;
  }
}

.function {
  background-color: #f6f7fa;
}

.container5 {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #f6f7fa;
}
@media screen and (max-width: 1200px) {
  .container5 {
    padding: 0 10px;
  }
}

.bottom {
  margin-top: 0;
  background-color: #192331;
}

.container6 {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #192331;
}
@media screen and (max-width: 1200px) {
  .container6 {
    padding: 0 10px;
  }
}

.content {
  display: flex;
}

.content__img {
  flex-basis: 40%;
}

.content__info {
  flex-basis: 60%;
}

.content__img img {
  transform: translateY(170px);
  max-width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .content__img img {
    transform: translateY(170px);
  }
}
@media screen and (max-width: 768px) {
  .content__img img {
    transform: translateY(100px);
  }
}
@media screen and (max-width: 450px) {
  .content__img img {
    margin-top: 30px;
  }
}
@media screen and (max-width: 650px) {
  .content__img img {
    transform: translateY(60px);
  }
}
@media screen and (max-width: 375px) {
  .content__img img {
    transform: translateY(40px);
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.webp) center center/cover;
  min-height: 100vh;
  box-shadow: 0px 10px 8px 0px #0000001a;
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
    min-height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    min-height: 30vh;
  }
}
@media screen and (max-width: 585px) {
  .header {
    max-width: 100%;
    min-height: 20vh;
  }
}

.logo__img {
  margin-top: 55px;
}
@media screen and (max-width: 1024px) {
  .logo__img {
    margin-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  .logo__img {
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .logo__img {
    margin-left: 12px;
  }
}

.content__title {
  margin-top: 250px;
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .content__title {
    margin-top: 140px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .content__title {
    margin-top: 110px;
    font-size: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  .content__title {
    margin-top: 80px;
    font-size: 25px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .content__title {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 320px) {
  .content__title {
    margin-top: 30px;
    font-size: 16px;
    margin-left: 12px;
  }
}

.content__text {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  max-width: 440px;
}
@media screen and (max-width: 1024px) {
  .content__text {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .content__text {
    max-width: 330px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  .content__text {
    max-width: 250px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .content__text {
    max-width: 200px;
    margin-left: 12px;
    font-size: 11px;
  }
}
@media screen and (max-width: 320px) {
  .content__text {
    max-width: 150px;
    margin-left: 12px;
    font-size: 10px;
  }
}

.info__flex {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  gap: 60px;
  color: #959595;
}
@media screen and (max-width: 650px) {
  .info__flex {
    display: block;
    flex-direction: column;
    gap: 10px;
  }
}

.info__title {
  font-size: 35px;
  color: #222626;
  font-weight: 300;
  margin-top: 110px;
}
@media screen and (max-width: 992px) {
  .info__title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .info__title {
    margin-top: 30px;
    font-size: 27px;
  }
}
@media screen and (max-width: 400px) {
  .info__title {
    font-size: 20px;
  }
}

.info__flex2 {
  margin-top: 40px;
}
@media screen and (max-width: 375px) {
  .info__flex2 {
    margin-top: 0;
  }
}

.grid__container {
  margin-top: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 1050px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .grid__container {
    margin-top: 40px;
  }
}
@media screen and (max-width: 400px) {
  .grid__container {
    display: flex;
    flex-direction: column;
  }
}

.col-2 {
  grid-column: span 2;
}
@media screen and (max-width: 1050px) {
  .col-2 {
    grid-column: span 1;
  }
}

@media screen and (max-width: 1050px) {
  .col-3 {
    grid-column: span 2;
  }
}

.grid__block1 {
  background-color: #f5979c;
  padding: 20px;
  color: #fff;
}

.grid__block2 {
  background-color: #615e7d;
  padding: 20px;
  color: #fff;
}

.grid__block3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg4.webp) center center/cover;
  padding: 20px;
  color: #fff;
}

.grid__block4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg3.webp) center center/cover;
  padding: 20px;
  color: #fff;
}

.grid__block5 {
  background-color: #81c99c;
  padding: 20px;
  color: #fff;
}

.block__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 400px) {
  .block__link {
    font-size: 10px;
  }
}

.block__title {
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
}
@media screen and (max-width: 400px) {
  .block__title {
    text-align: center;
    font-size: 18px;
  }
}

.block__text {
  font-size: 13px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (max-width: 400px) {
  .block__text {
    text-align: center;
    font-size: 11px;
  }
}

.block__text4 {
  max-width: 440px;
  font-size: 13px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (max-width: 400px) {
  .block__text4 {
    text-align: center;
    font-size: 11px;
  }
}

.icon {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.grid__container2 {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .grid__container2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .grid__container2 {
    grid-template-columns: 1fr;
  }
}

.container__detail {
  margin-top: 80px;
}
@media screen and (max-width: 400px) {
  .container__detail {
    text-align: center;
  }
}

.details__title {
  color: #222626;
  font-weight: 300;
  font-size: 35px;
}
@media screen and (max-width: 400px) {
  .details__title {
    font-size: 19px;
    text-align: center;
    margin-top: -40px;
  }
}

.detail__title {
  color: #67676d;
  font-weight: 600;
  font-size: 13px;
}

.detail__text {
  font-size: 14px;
  color: #959595;
  font-weight: 400;
}

.info2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg2.webp) center center/cover;
  min-height: 100vh;
  margin-top: 160px;
}
@media screen and (max-width: 1024px) {
  .info2 {
    max: width 50%;
    min-height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .info2 {
    max-height: 60%;
    min-height: 60vh;
    margin-top: 100px;
  }
}
@media screen and (max-width: 585px) {
  .info2 {
    max-height: 20%;
    min-height: 20vh;
    margin-top: 70px;
  }
}

.info2__title {
  font-weight: 300;
  color: #ffffff;
  font-size: 60px;
  max-width: 490px;
  padding-top: 250px;
}
@media screen and (max-width: 1024px) {
  .info2__title {
    padding-top: 200px;
    max-width: 420px;
    margin-left: 30px;
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .info2__title {
    padding-top: 190;
    max-width: 420px;
    font-size: 45px;
    margin-left: 27px;
  }
}
@media screen and (max-width: 650px) {
  .info2__title {
    padding-top: 100px;
    max-width: 340px;
    font-size: 25px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .info2__title {
    padding-top: 50px;
    max-width: 300px;
    font-size: 20px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 320px) {
  .info2__title {
    padding-top: 35px;
    max-width: 150px;
    font-size: 16px;
    margin-left: 12px;
  }
}

.info2__text {
  max-width: 440px;
  color: #ffffff;
  width: 469px;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .info2__text {
    max-width: 420px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .info2__text {
    max-width: 380px;
    margin-left: 27px;
  }
}
@media screen and (max-width: 650px) {
  .info2__text {
    max-width: 250px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .info2__text {
    max-width: 190px;
    margin-left: 12px;
    font-size: 11px;
  }
}
@media screen and (max-width: 320px) {
  .info2__text {
    max-width: 150px;
    margin-left: 12px;
    font-size: 10px;
  }
}

.info2__link {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .info2__link {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .info2__link {
    margin-left: 27px;
  }
}
@media screen and (max-width: 650px) {
  .info2__link {
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .info2__link {
    margin-left: 12px;
  }
}

.grid__container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .grid__container3 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  .grid__container3 {
    grid-template-columns: 1fr;
  }
}

.title {
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 70px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .title {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 19px;
    text-align: center;
  }
}

.block__title1 {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (max-width: 400px) {
  .block__title1 {
    text-align: center;
  }
}

.block__text1 {
  max-width: 360px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 165px;
}
@media screen and (max-width: 768px) {
  .block__text1 {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .block__text1 {
    text-align: center;
    font-size: 11px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .grid__block8 {
    padding-bottom: 40px;
  }
}

.grid__container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .grid__container4 {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.grid-item {
  padding: 45px 50px;
  padding-bottom: 55px;
  border-radius: 8px;
  box-shadow: 0 0 20px var(--shadow, transparent);
}

.grid-item:hover {
  --shadow: rgba(177, 165, 165, 0.3);
  transition: 1s;
}

.grid__block9 {
  margin-top: 150px;
  max-width: 570px;
}
.grid__block9:hover .grid__btn {
  background-color: #bd8bbf;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .grid__block9 {
    margin-top: 100px;
    margin: 100px auto 0;
  }
}
@media screen and (max-width: 640px) {
  .grid__block9 {
    padding-bottom: 50px;
  }
}

.grid__block10 {
  margin-top: 150px;
  max-width: 570px;
}
.grid__block10:hover .grid__btn {
  background-color: #bd8bbf;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .grid__block10 {
    margin-top: 50px;
    margin: 50px auto 0;
  }
}
@media screen and (max-width: 640px) {
  .grid__block10 {
    margin-top: 20px;
    margin: 20 auto 0;
  }
}

.block__title2 {
  font-size: 30px;
  color: #2e3b4e;
  font-weight: 300;
}

.block__text2 {
  max-width: 410px;
  font-size: 14px;
  color: #8297a7;
  font-weight: 400;
}

.grid__btn {
  cursor: pointer;
  border-radius: 5px;
  font-size: 11px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  background-color: #e1e1e1;
  border: 1px #e1e1e1;
  padding: 7px 18px;
}

.grid__btn2 {
  cursor: pointer;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82ca9c;
  border: 1px #82ca9c;
  padding: 17px 30px;
}
.grid__btn2:active {
  background-color: green;
}

.grid__btn3 {
  cursor: pointer;
  margin-top: 45px;
  border-radius: 3px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82ca9c;
  border: 1px #82ca9c;
  padding: 17px 30px;
}
.grid__btn3:active {
  background-color: green;
}

.icon2 {
  margin-top: 15px;
}

.grid__icon2 {
  margin-left: 10px;
}

.grid__icon {
  margin-left: 5px;
}

.grid__container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 155px;
}
@media screen and (max-width: 768px) {
  .grid__container5 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .grid__container5 {
    display: block;
  }
}

.fuctions {
  display: flex;
  gap: 130px;
}
@media screen and (max-width: 768px) {
  .fuctions {
    gap: 100px;
  }
}
@media screen and (max-width: 620px) {
  .fuctions {
    display: block;
  }
}

.bottom__title {
  margin-top: 0;
  padding-top: 130px;
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .bottom__title {
    text-align: center;
  }
}

.grid__block11 {
  max-width: 105px;
}
@media screen and (max-width: 620px) {
  .grid__block11 {
    padding-top: 30px;
    margin: 0 auto;
  }
}

.grid__block12 {
  max-width: 105px;
}
@media screen and (max-width: 620px) {
  .grid__block12 {
    padding-top: 30px;
    margin: 0 auto;
  }
}

.grid__block13 {
  max-width: 105px;
}
@media screen and (max-width: 620px) {
  .grid__block13 {
    padding-top: 30px;
    margin: 0 auto;
  }
}

.bottom__text {
  max-width: 565px;
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 400;
  padding-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .bottom__text {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .bottom__text {
    max-width: none;
  }
}

.bottom__title2 {
  margin-top: 0;
  padding-top: 130px;
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 600;
}
@media screen and (max-width: 620px) {
  .bottom__title2 {
    padding-top: 0;
  }
}

.bottom__text2 {
  max-width: 335px;
  font-size: 12px;
  color: #57697f;
  font-weight: 400;
}
@media screen and (max-width: 620px) {
  .bottom__text2 {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 420px) {
  .bottom__text2 {
    max-width: 300px;
  }
}

.block__title3 {
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 600;
}

.block__link2 {
  margin-top: 25px;
  display: flex;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 400;
}
@media screen and (max-width: 420px) {
  .block__link2 {
    margin-top: 12px;
  }
}

.block__link3 {
  display: flex;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 13px;
  color: #f6f7fa;
  font-weight: 400;
}

.input-group {
  display: flex;
}
@media screen and (max-width: 450px) {
  .input-group {
    padding: auto;
  }
}

.btn-check {
  cursor: pointer;
  background: #82ca9c;
  border: 3px solid #82ca9c;
  border-radius: 2px;
  height: 55px;
  width: 70px;
}
.btn-check:active {
  background-color: green;
  border: 3px solid green;
}
@media screen and (max-width: 768px) {
  .btn-check {
    height: 45px;
    width: 60px;
  }
}
@media screen and (max-width: 450px) {
  .btn-check {
    height: 35px;
    width: 50px;
  }
}

.form-control {
  border: 1px #fff;
  border-radius: 2px;
  height: 55px;
  width: 400px;
}
@media screen and (max-width: 650px) {
  .form-control {
    height: 45px;
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  .form-control {
    height: 35px;
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
